*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'gabarito',sans-serif;
}

.navbar{
   display: flex;  
   padding: 10px;
   margin: 10px;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid black 1px;
   gap: 10px;

}
.navbar-s1__title{
    color: #A435F0;
}

.navbar-s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
}

.navbar-s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    
}
.navbar-s2 input:focus{
    outline: none;
}
.navbar-s3{
    
    display: flex;
    gap: 15px;
}


.categories{
    
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 10px;
    
}

.categories p{
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
    padding: 10px;   
}

.sale-image img{
    width: 100%;
}

.recomended{
    padding: 10px;
}

.course-card{
    width: 300px;
}

.recomended-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card img{
   height: 50%;
    width: 100%;
}

.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
   flex-wrap: wrap;

}

.topics-container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}
.popular{
    padding: 10px;
}
.popular-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 10px;   
}

.footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.footer-one{
    display: flex;
    gap: 20px;
    
    
}
.footer-one p{
    margin: 15px;
}
.footer-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}